<!DOCTYPE html>
<html>
  <!-- head -->
  <head>
    <meta charset="utf-8">
    <!-- mobile devices -->
    <meta content=
    "width=device-width, height=device-height, initial-scale=1"
          name="viewport">
    <title>ASSIGNMENT 2</title>
    <link rel="stylesheet" href="A2.css">
  </head>
<!-- body -->
<body>
<div class = "flex-container">
  <!--The header-->
  <div class="menu-header"><h1>
    <!--navigation of the menu-->  
    <nav class = "header-navigation">
      <!--The list menu-->
      <ul>
          <li><a href="#home">Home</a> </li>
          <li><a href="#About">About</a> </li>
          <li><a href="#Service">Service</a> </li>
          <li><a href="#Contact">Contact</a> </li>
      </ul>
    </nav>
  </h1></div> <!--header closing div-->
  <!--The title-->
  <div class="title"><h3><br>We Provide the best IT Services </h3>
    <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
      "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
    </p>
  </div> <!--title closing div-->
  <!--The row-->
  <div class ="row">
      <!--The columns-->
      <!--1-->
      <div class ="column">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <!--2-->
      <div class ="column">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <!--3-->
    <div class ="column">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

  </div> <!--row closing div-->

    <!-- footer -->
    <div class="footer">
            <!--navigation of the footer-->  
            <nav class = "footer-navigation-left">
                <!--The footer left options-->
                <ul>
                    <li><a href="#home">Home</a> </li>
                    <li><a href="#About">About</a> </li>
                    <li><a href="#Contact">Contact</a> </li>
                </ul>
            </nav>
            <nav class = "footer-navigation-right">
              <!--The footer right options-->
                <ul>
                    <li><a href="#Facebook">Facebook</a> </li>
                    <li><a href="#Twitter">Twitter</a> </li>
                    <li><a href="#Vimeo">Vimeo</a> </li>  
                </ul>
            </nav>
    </div> <!--footer closing div-->
</div><!--container closing div-->
</body>
</html>